.Profile {
    width: 100%;
    height: 100vh;
    background: white;
}

.profileOptionsContainer {
    width: 100;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    // background-color: #C5C6CA;
    align-items: center;
}

.profileOptionsAndInfoContainer {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
}

.profileOptions {
    width: 15vw;
    height: 40vh;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
    background-color: white;
}

button {
    width: 160px;
    height: 40px;
    background-color: #3271BD;
    border: none;
    border-radius: 4px;
    color: black;
    font-weight: 600;
    margin: 10px 0 10px 0;
}

p, Link, a {
    text-decoration: none;
    color: black;
}

.nestedRoutesContainer {
    width: 70vw;
    height: 70vh;
    display: flex;
}

.Cart {
    width: 100%;
    height: 100%;
}

.cartItems {
    width: 100%;
    height: 65vh;
    overflow: scroll;
    overflow-x: hidden;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemContainer {
    width: 96%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    box-shadow: 0px 0px 5px 0px #C6D1CC;
    margin: 10px 0 10px 0;
}

.cartCardImage {
    max-width: 85px;
    max-height: 92px;
    border: 1px solid #3271BD;
}

.cartCardPriceDisplay {
    margin-right: 10px;
}

.deleteButton {
    width: 25px;
    height: 25px;
    background-color: white;
    font-size: 16px;
    color: #3271BD;
    margin-left: 10px;
}

.deleteButton:hover {
    color: red;
}

div.ui.grid {
    margin: auto;
}

.totalPrice {
    float: right;
    margin: 20px;
    border: black;
    border-radius: 5px;
}

.checkoutButton {
    width: 160px;
    height: 40px;
    float: right;
    margin-right: 20px;
}