.Home {
    height: 100vh; 
    width: inherit;
    /* background-image: url('../../images/trucks2(2).jpg'); */
    background-image: url("https://1drv.ms/u/s!AswzSYDeTKfxkDyJ_u5c9Wq9XFKv") fixed center;
}
